.color-E {
  background: linear-gradient(
    to bottom,
    darkblue,
    #ffa8bc,
    red,
    #ffa8bc,
    darkblue
  ) !important;
}

.color-F {
  background: linear-gradient(to right, blue, white, red) !important;
}

.color-G {
  background: linear-gradient(to bottom, black, white, red) !important;
}

.color-J {
  //background: radial-gradient(red, red, white) !important;
  background: linear-gradient(to right, white, red, white) !important;
}

.color-N {
  background: #ff7c00 !important;
}

.color-S {
  background: linear-gradient(to bottom, red, yellow, red) !important;
}

.color-I {
  background: linear-gradient(to right, green, white, orangered) !important;
}

.color-B {
  background: linear-gradient(to right, black, yellow, red) !important;
}

.color-P {
  background: linear-gradient(to right, cornflowerblue, white) !important;
}

.color-R {
  background: linear-gradient(to bottom, white, blue, red) !important;
}

.color-U {
  background: linear-gradient(to bottom, dodgerblue, white, red) !important;
}
.color-A {
  background: linear-gradient(to bottom, red, white, red) !important;
}
.color-C {
  background: #ffc500 !important;
}
.color-T {
  background: #cb2027 !important;
}

.category-INDEPENDENT {
  background-color: #bbdcf5;
}

.category-UNORGANIZED {
  background-color: whitesmoke;
}
.category-CHINESE_VASSAL {
  background-color: lightgoldenrodyellow;
}
.category-CHINESE_EMPIRE {
  background-color: #ffa1ae;
}
.category-OTTOMAN_EMPIRE {
  background-color: #ffab9f;
}

.changed-marker {
  animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}

.log-info {
  background-color: green !important;
}

.log-error {
  background-color: red !important;
}

/* *********************** */

div.clickable {
  cursor: pointer;
  border-color: #b0b0b0;
  border-width: 0 1px 1px 0;
  border-style: solid;
}

.warning {
  background-color: yellow;
}
.areabox {
  width: 4%;

  .status-token {
    font-size: 12px;
  }

  .unit-token {
    font-size: 12px;
  }
  > div {
    border-width: 0 1px 1px 0;
    border-color: #d8b8a4;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.35);
    font-size: 12px;
  }
}

.seazone {
  width: 6%;
  padding: 4px;
  font-family: "serif";
  font-size: 12px;
  font-weight: bold;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
  border-radius: 8px;
  .label {
    background: rgba(245, 245, 245, 0.47);
    padding: 0 1px 0 1px;
    margin-bottom: 2px;
    text-align: center;
  }
}

#worldmap {
  width: 100%;
  background-color: #f2f2f9;
}

#areamap {
  //width: calc(100vw - 15px);
  width: 100vw;
  position: relative;
}

.sea-marker-box {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: cadetblue;
  width: 10px;
  height: 10px;
}

.merchant-token,
.status-token {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  white-space: nowrap;
  margin-left: 0.5px;
  margin-right: 0.5px;
  border: 1px solid rgba(148, 148, 255, 1);
  padding: 2px 3px 2px 3px;
  border-radius: 50%;
  text-align: center;
  .label {
    font-size: 11px;
    font-family: "sans-serif";
    font-weight: normal;
    border: 0;
    background-color: rgba(255, 255, 255, 0.49);
    color: #1e1e1e;
    //border-radius: 50%;
    //padding: 2px;
  }
}
.unit-token {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  margin-left: 0.5px;
  margin-right: 0.5px;
  border: 1px solid rgba(255, 124, 0, 1);
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  text-align: center;
  .label {
    font-size: 10px;
    font-family: "sans-serif";
    font-weight: bolder;
    border: 0;
    margin: 0;
    //padding-left: 1px;
    //padding-right: 1px;
    //border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #1e1e1e;
  }
}

.homeland-marker {
  border-radius: 5px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-width: 0;
  .label {
    text-align: center;
    font-size: 12px;
    font-family: "sans-serif";
    border: 0;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #1e1e1e;
  }
}

.homeland {
  background: floralwhite;
  .unit-token {
    font-size: 10px;
  }
}

.dnd-active {
  background-color: #76cc45 !important;
}
.dnd-accept {
  background-color: #badd9a !important;
}

.trash {
  width: 5%;
  height: 30px;
  align-content: center;
  text-align: center;
  background: #a8a8a8;
  .dnd-active {
    background: #dd5ac2 !important;
  }
  .dnd-accept {
    background: #ddafd0 !important;
  }
  .center {
    padding: 3px;
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
  }
}

.canal {
  padding: 1px;
  color: blue;
  border: 1px blue solid;
  border-radius: 5px;
  display: inline-block;
  height: 18px;
  font-size: 14px;
}

.opacity {
  opacity: 0.4;
}

.notice {
  background-color: #fff;
  text-align: right;
  color: #000;
  flex-grow: 1;
}

.unrest {
  color: red;
}

.casus-belli {
  color: red;
}
.token-tray {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: black;
  flex-grow: 1;
  height: 30px;
}

.country-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.turn {
  background: white;
  color: black;
  padding: 5px;
  margin: 5px;
}

.pbappbar {
  top: auto !important;
  bottom: 0;
  //height: 60px !important;
}

.menu-label {
  display: inline-block;
  //width: 100%;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.number {
  text-align: right !important;
}

.admin-powername {
}

.odd {
  background: powderblue;
}
.side-drawer {
  .vspace {
    height: 56px;
  }
}

.top-drawer {
  padding: 20px;
  background: lavenderblush;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

//.modify-button {
//  float: right;
//  margin-right: 10px !important;
//}

.debug-dialog {
}
