//#sea-NA {
//  position: absolute;
//  top: 0.5%;
//  left: 25%;
//}
//#sea-SA {
//  position: absolute;
//  top: 80%;
//  left: 25%;
//}
//#sea-Car {
//  position: absolute;
//  top: 20%;
//  left: 15%;
//}
//#sea-Med {
//  position: absolute;
//  top: 13%;
//  left: 38%;
//}
//#sea-Bal {
//  position: absolute;
//  top: 2%;
//  left: 38%;
//}
//#sea-Bla {
//  position: absolute;
//  top: 3.8%;
//  left: 55%;
//}
//#sea-Ind {
//  position: absolute;
//  top: 74%;
//  left: 65%;
//}
//#sea-SP {
//  position: absolute;
//  top: 82%;
//  left: 0.5%;
//}
//#sea-NP {
//  position: absolute;
//  top: 13%;
//  left: 0.5%;
//}
//#sea-Oce {
//  position: absolute;
//  top: 87%;
//  left: 79%;
//}
//#sea-NC {
//  position: absolute;
//  top: 20%;
//  left: 93%;
//}
//#sea-SC {
//  position: absolute;
//  top: 40%;
//  left: 93%;
//}
//
//#sea-Hope {
//  position: absolute;
//  top: 94%;
//  left: 46%;
//}
//#sea-Horn {
//  position: absolute;
//  top: 93%;
//  left: 10%;
//}

.sea-color-NA {
  background-color: orange;
}
.sea-color-SA {
  background-color: ghostwhite;
}
.sea-color-Car {
  background: linear-gradient(to right bottom, white, white, green, green);
}
.sea-color-Med {
  background: linear-gradient(to right bottom, white, white, purple, purple);
}
.sea-color-Bal {
  background: linear-gradient(to right bottom, white, white, lightblue, lightblue);
}
.sea-color-Bla {
  background: linear-gradient(to right bottom, white, white, orangered, orangered);
}
.sea-color-Ind {
  background-color: lightgreen;
}
.sea-color-SP {
  background-color: #6592e6;
}
.sea-color-NP {
  background-color: orangered;
}
.sea-color-Oce {
  background-color: mediumpurple;
}
.sea-color-NC {
  background-color: antiquewhite;
}
.sea-color-SC {
  background: linear-gradient(to right bottom, orange, white);
}

.sea-color-Hope {
  background-color: #c0c0e0;
}
.sea-color-Horn {
  background-color: #c0c0e0;
}
